@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	/* base colors */
	--color-black-main: #121212;
	--color-fore: #E0E0E0;
	--color-accent: #10B981;

	/* code/editor colors */
	--color-editor-padding: 16px;
	--color-foreground: #ededed;
	--color-constant: #3ecf8e;
	--color-string: #ededed;
	--color-comment: #707070;
	--color-keyword: #a0a0a0;
	--color-parameter: #ededed;
	--color-function: #3ecf8e;
	--color-string-expression: #3ecf8e;
	--color-punctuation: #ededed;
	--color-link: #ededed;
	--color-number: #ededed;
	--color-property: #3ecf8e;
	--color-highlight: #232323;
	--color-highlight-border: #383838;
	--color-highlight-hover: #1D1D1D;
	--color-diff-deleted: #F06A50;
	--color-diff-inserted: #3ecf8e;
	--color-accent-hover: #34D399;
}

body {
	font-family: var(--font-barlow), sans-serif;
}